.console-color {
  color: #4f9dff !important;
}

.console-color-1 {
  color: #4279be !important;
}

.console-color-2 {
  color: #F05B4E !important;
}

.console-color-3 {
  color: #F2766B !important;
}

.console-color-4 {
  color: #6c788e !important;
}

.bg-white {
  background: #fff;
}

.console-message {
  line-height: 34px;
  color: #abb5ca;
  text-align: left !important;
}

.conole-color-3
.console-line-1 {
  line-height: 28px;
}

.console-line-2 {
  line-height: 34px;
}

.console-line-3 {
  line-height: 36px;
}

.console-line-4 {
  line-height: 40px;
}

.upload-file {
  position: relative;
}
.upload-file input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.upload-file a {
  width: 100%;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-auto {
  margin: 0 auto;
}

.upload-file-img {
  float: left;
  height: 100px;
  overflow: hidden;
}
.upload-file-img img {
  width: 100%;
}

.upload-file-img-banner {
  width: 198px;
  height: 40px;
  float: left;
  margin-right: 30px;
}
.upload-file-img-banner img {
  width: 198px;
  height: 40px;
}

.upload-file-img-ico {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.upload-file-img-ico img {
  width: 60px;
  height: 60px;
  background: #ccc;
}

.upload-file-img-guide {
  width: 70px;
  height: 128px;
  margin-left: 15px;
  margin-right: 15px;
}
.upload-file-img-guide img {
  width: 70px;
  height: 128px;
}

.upload-file-img-logo {
  width: 120px;
  height: 60px;
  margin-right: 15px;
}
.upload-file-img-logo img {
  width: 120px;
  height: 60px;
}

.upload-file-img-goods {
  width: 120px;
  height: 80px;
}
.upload-file-img-goods img {
  width: 120px;
  height: 80px;
}

.control-label {
  width: 120px !important;
  font-weight: normal;
}

.console-message-1 {
  line-height: 24px;
}

nav {
  background-image: linear-gradient(134deg, #4f9dff 0%, #30e6fe 100%);
  height: 80px;
}

.console-logo {
  width: 180px;
  float: left;
  line-height: 80px;
}
.console-logo img {
  width: 88px;
  height: 36px;
  float: left;
  vertical-align: middle;
}
.console-logo span {
  float: left;
  color: #ffffff;
  font-size: 16px;
  padding: 0 10px;
}

.console-nav {
  overflow: hidden;
  float: left;
  height: 80px;
}
.console-nav li {
  float: left;
  height: 80px;
  text-align: center;
}
.console-nav a {
  display: inline-block;
  height: 80px;
  padding: 10px 30px;
}
.console-nav img {
  height: 30px;
}
.console-nav p {
  color: #fff;
  margin-top: 4px;
}

.console-person {
  overflow: hidden;
  float: right;
  height: 80px;
  width: 300px;
}
.console-person li {
  height: 80px;
  line-height: 80px;
  float: right;
  padding: 0 20px;
}

/*# sourceMappingURL=index.css.map */
