.console-color {
  color: #4f9dff !important;
}

.console-color-1 {
  color: #4279be !important;
}

.console-color-2 {
  color: #F05B4E !important;
}

.console-color-3 {
  color: #F2766B !important;
}

.console-color-4 {
  color: #6c788e !important;
}

.bg-white {
  background: #fff;
}

.console-message {
  line-height: 34px;
  color: #abb5ca;
  text-align: left !important;
}

.conole-color-3
.console-line-1 {
  line-height: 28px;
}

.console-line-2 {
  line-height: 34px;
}

.console-line-3 {
  line-height: 36px;
}

.console-line-4 {
  line-height: 40px;
}

.upload-file {
  position: relative;
}
.upload-file input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.upload-file a {
  width: 100%;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-auto {
  margin: 0 auto;
}

.upload-file-img {
  float: left;
  height: 100px;
  overflow: hidden;
}
.upload-file-img img {
  width: 100%;
}

.upload-file-img-banner {
  width: 198px;
  height: 40px;
  float: left;
  margin-right: 30px;
}
.upload-file-img-banner img {
  width: 198px;
  height: 40px;
}

.upload-file-img-ico {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.upload-file-img-ico img {
  width: 60px;
  height: 60px;
  background: #ccc;
}

.upload-file-img-guide {
  width: 70px;
  height: 128px;
  margin-left: 15px;
  margin-right: 15px;
}
.upload-file-img-guide img {
  width: 70px;
  height: 128px;
}

.upload-file-img-logo {
  width: 120px;
  height: 60px;
  margin-right: 15px;
}
.upload-file-img-logo img {
  width: 120px;
  height: 60px;
}

.upload-file-img-goods {
  width: 120px;
  height: 80px;
}
.upload-file-img-goods img {
  width: 120px;
  height: 80px;
}

.control-label {
  width: 120px !important;
  font-weight: normal;
}

.console-message-1 {
  line-height: 24px;
}

header {
  width: 100%;
  overflow: hidden;
  background: #fff;
  height: 70px;
  display: inline-block;
}

.header {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
}

.header-left {
  width: 120px;
  overflow: hidden;
  float: left;
}

.header-center {
  overflow: hidden;
  width: 800px;
  float: left;
}
.header-center ul {
  margin-left: 30px;
  float: left;
}
.header-center li {
  float: left;
}
.header-center a {
  padding: 0 30px;
  font-size: 14px;
}

.header-right {
  float: right;
  width: 250px;
  text-align: right;
  overflow: hidden;
}

.header-reg {
  display: inline-block;
  border: 1px solid #4ac0fd;
  height: 38px;
  line-height: 38px;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 0 20px;
  color: #4ac0fd;
  border-radius: 4px;
}

.header-login {
  display: inline-block;
  border: 1px solid #4ac0fd;
  height: 38px;
  line-height: 38px;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 0 20px;
  color: #fff;
  background: #4ac0fd;
  margin-left: 10px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.header-right img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 20px;
}

.header-reg-color {
  color: #4ac0fd;
}

.login {
  background-color: #ccc;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 70px;
  background-image: url("../img/login_bg.jpg");
  background-size: cover;
}

.login-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 770px;
  height: 400px;
}

.login-box-lose {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 410px;
  height: 400px;
}

.login-step {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  text-align: center;
  width: 410px;
  height: 60px;
}

.login-step-one {
  width: 206px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}
.login-step-one iframe {
  position: absolute;
}
.login-step-one iframe:nth-of-type(1) {
  left: 0;
  top: 0;
}
.login-step-one iframe:nth-of-type(2) {
  left: 6px;
  top: 7px;
}
.login-step-one span {
  position: absolute;
  height: 30px;
  line-height: 30px;
  color: #fff;
  bottom: 0;
  font-size: 12px;
}

.step-text-position-1 {
  left: -8px;
}

.step-text-position-2 {
  left: 80px;
}

.step-text-position-3 {
  right: -8px;
}

.login-position-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 110px 80px 0 80px;
}

.login-position-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 70px 80px 0 80px;
}

.login-float-left {
  float: left;
  border-radius: 12px 0 0 12px;
}

.login-float-right {
  float: right;
  border-radius: 0 12px 12px 0;
}

.login-input {
  width: 410px;
  height: 440px;
  background: #ffffff;
  border-radius: 12px;
}
.login-input input {
  outline: none;
}
.login-input h1 {
  font-size: 24px;
  color: #6d798f;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.login-tel {
  width: 248px;
  height: 38px;
}
.login-tel input {
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 100px;
  width: 248px;
  height: 38px;
}

.login-tel, .login-password {
  position: relative;
  margin-bottom: 20px;
}
.login-tel img, .login-password img {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.login-tel input, .login-password input {
  padding-left: 40px;
}

.login-password {
  width: 248px;
  height: 38px;
  margin-bottom: 20px;
}
.login-password input {
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 100px;
  width: 248px;
  height: 38px;
}

.login-verify {
  width: 248px;
  height: 38px;
  margin-bottom: 20px;
}
.login-verify input {
  float: left;
}
.login-verify input[type=text] {
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 100px;
  width: 148px;
  height: 38px;
  float: left;
  padding-left: 18px;
}
.login-verify input[type=button] {
  background: #ffffff;
  border: 1px solid #4f9dff;
  border-radius: 100px;
  width: 86px;
  height: 37px;
  color: #4f9dff;
  float: right;
  font-size: 12px;
}

.login-submit {
  width: 248px;
  height: 38px;
}
.login-submit input {
  background-image: linear-gradient(134deg, #4f9dff 0%, #30e6fe 100%);
  color: #fff;
  border: none;
  border-radius: 100px;
  width: 248px;
  height: 38px;
}

.login-reg-lose {
  text-align: center;
  line-height: 30px;
  padding-top: 60px;
}
.login-reg-lose a {
  color: #c4ccd8;
}

.login-login-lose {
  text-align: center;
  line-height: 30px;
  padding-top: 70px;
}
.login-login-lose a {
  color: #c4ccd8;
}

.login-text {
  background: rgba(74, 93, 140, 0.7);
  width: 361px;
  height: 400px;
  padding: 110px 70px;
}
.login-text h1 {
  font-size: 24px;
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.login-text P {
  color: #fff;
  text-align: left;
}
.login-text a {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 100px;
  width: 94px;
  height: 34px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  line-height: 34px;
}

::-webkit-input-placeholder {
  color: #c3cad9;
  font-size: 12px;
}

:-moz-placeholder {
  color: #c3cad9;
  font-size: 12px;
}

::-moz-placeholder {
  color: #c3cad9;
  font-size: 12px;
}

:-ms-input-placeholder {
  color: #c3cad9;
  font-size: 12px;
}

.login-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none;
}

.login-mask-inner {
  background: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  width: 370px;
  height: 201px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  z-index: 101;
}

.login-mask-title {
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 20px;
}
.login-mask-title span {
  font-size: 16px;
  color: #6d798f;
}
.login-mask-title span:nth-of-type(2) {
  float: right;
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
}

.login-img {
  padding: 20px;
}
.login-img input {
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 100px;
  width: 198px;
  height: 38px;
  padding-left: 15px;
  outline: none;
}
.login-img img {
  background: #d8d8d8;
  width: 120px;
  height: 38px;
}

.login-btn {
  padding: 0 20px;
  text-align: center;
}
.login-btn input {
  background-image: linear-gradient(134deg, #4f9dff 0%, #30e6fe 100%);
  color: #fff;
  border: none;
  border-radius: 100px;
  width: 248px;
  height: 38px;
}

.login-error {
  border: 1px solid #e95d53 !important;
}

.login-success {
  text-align: center;
}
.login-success img, .login-success iframe {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-top: 50px;
}
.login-success h2 {
  font-size: 24px;
  color: #6d798f;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}
.login-success p {
  color: #717D92;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.login-success a {
  color: #519EFF;
}

/*# sourceMappingURL=login.css.map */
